/* ========== Start Loader ========== */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--whiteC);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  text-transform: capitalize;
}

.disappear {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition-delay: 2.5s;
}

.loaderText {
  color: var(--blackC);
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  animation-name: logo;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes logo {
  to {
    color: var(--mainC);
  }
}

.loaderText span {
  color: var(--mainC);
  animation-name: logoR;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes logoR {
  to {
    color: var(--blackC);
  }
}

/* ========== End Loader ========== */